
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins&family=Rubik:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* > *{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;           
}

body{
    background: #dcdced;
    background-image: url('./assets/bg5.webp');
}